<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icon-gamerank.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title>Gamerank</title>
</head>
<body class="administrators">
    <!-- <h2>Formulário de Inserção de Dados - JOGOS</h2>
    <form action="/submit_data" method="post">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br>
        <label for="ano_lancamento">Ano de Lançamento:</label><br>
        <input type="number" id="ano_lancamento" name="ano_lancamento"><br>
        <label for="genero">Gênero:</label><br>
        <input type="text" id="genero" name="genero"><br>
        <label for="descricao_curta">Descrição Curta:</label><br>
        <input type="text" id="descricao_curta" name="descricao_curta"><br>
        <label for="descricao_completa">Descrição Completa:</label><br>
        <input type="text" id="descricao_completa" name="descricao_completa"><br>
        <label for="url_imagem">URL da Imagem:</label><br>
        <input type="text" id="url_imagem" name="url_imagem"><br>
        <input type="submit" value="Enviar">
    </form> -->

    <section class="forms">

        <form action="">
            
        </form>

        <form action="">

        </form>

    </section>

    <section class="deletion">
        <table>
            
        </table>
    </section>

</body>
</html>