<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icon-gamerank.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title>Gamerank</title>
</head>
<body class="administrators">
    <!-- <h2>Formulário de Inserção de Dados - JOGOS</h2>
    <form action="/submit_data" method="post">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br>
        <label for="ano_lancamento">Ano de Lançamento:</label><br>
        <input type="number" id="ano_lancamento" name="ano_lancamento"><br>
        <label for="genero">Gênero:</label><br>
        <input type="text" id="genero" name="genero"><br>
        <label for="descricao_curta">Descrição Curta:</label><br>
        <input type="text" id="descricao_curta" name="descricao_curta"><br>
        <label for="descricao_completa">Descrição Completa:</label><br>
        <input type="text" id="descricao_completa" name="descricao_completa"><br>
        <label for="url_imagem">URL da Imagem:</label><br>
        <input type="text" id="url_imagem" name="url_imagem"><br>
        <input type="submit" value="Enviar">
    </form> -->

        <section class="forms">

            <form method="POST">
                <fieldset>

                    <h1 g-id="title">Adicionar Jogo</h1>
        
                    <div class="mb-3 row">
                        <label class="col-sm-2">Nome:</label>
                        <input type="text" class="form-control" placeholder="Nome" name="nome">
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 ">Ano de lançamento:</label>
                        <input type="number" class="form-control" placeholder="Ano de lançamento" name="ano_de_lancamento">
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 ">Gênero:</label>
                        <input type="text" class="form-control" placeholder="Gênero" name="genero">
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 ">Descrição curta:</label>
                        <input type="text" class="form-control" placeholder="Descrição curta" name="descricao_curta">
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 ">Descrição completa:</label>
                        <input type="text" class="form-control" placeholder="Descrição completa" name="descricao_completa">
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 ">URL da imagem:</label>
                        <input type="text" class="form-control" placeholder="URL da imagem" name="url_da_imagem">
                    </div>
        
                    <div class="d-flex align-items-end">
                        <button type="submit">Adicionar</button>
                    </div>
        
                </fieldset>
            </form>
       
            <form>
                <fieldset>

                    <h1 g-id="redirection">Atualizar Jogo</h1>
                    <div class="mb-3 row">
                        <label class="col-sm-2">ID:</label>
                        <input type="text" class="form-control" placeholder="ID" name="id"  g-id="id">
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2" >Nome:</label>
                        <input type="text" class="form-control" placeholder="Nome" name="nome" g-id="nome">
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2">Ano de lançamento:</label>
                        <input type="number" class="form-control" placeholder="Ano de lançamento" name="ano_de_lancamento"  g-id="lancamento"> 
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2" >Gênero:</label>
                        <input type="text" class="form-control" placeholder="Gênero" name="genero" g-id="genero">
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2">Descrição curta:</label>
                        <input type="text" class="form-control" placeholder="Descrição curta" name="descricao_curta" g-id="descricao-curta">
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2">Descrição completa:</label>
                        <input type="text" class="form-control" placeholder="Descrição completa" name="descricao_completa" g-id="descricao-completa">
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2">URL da imagem:</label>
                        <input type="text" class="form-control" placeholder="URL da imagem" name="url_da_imagem" g-id="url">
                    </div>
        
                    <div class="d-flex align-items-end">
                        <button type="submit" class="btn-update">Atualizar</button>
                    </div>
        
                </fieldset>
            </form>
            
        </section>

        <section class="deletion d-flex justify-content-end">
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nome</td>
                        <td>URL</td>
                        <td>Descrição</td>
                        <td></td>
                    </tr>
                </thead>

                <tbody>
                    {% for jogo in games %}
                    <tr>
                        <td>{{ jogo.id }}</td>
                        <td>{{ jogo.nome }}</td>
                        <td>{{ jogo.url_imagem }}</td>
                        <td>{{ jogo.descricao_curta }}</td>
                        <td><button class="btn btn-danger"  data-id="{{ jogo.id }}">-</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <footer>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-iOaCbLjFv7LvpcO6R7Y5WIvZqfSNrOSNc0q9ZoT5Ff3iXw5oLsqYwOp8JODKSoaB" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
            <script src="/static/js/index.js"></script>  
        </footer>
</body>
</html>