<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icon-gamerank.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title>Gamerank</title>
</head>
<body class="administrators">

        {%for message in get_flashed_messages()%}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
<!--         {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if 'warning' in message %}
                        <div class="alert alert-warning" role="alert">
                            {{ message }}
                        </div>
                    {% elif 'error' in message %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% elif 'success' in message %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {%endif%}
        {%endwith%} -->
        {%endfor%}

    <section class="forms">

        <form  action="" method="POST">
            <fieldset>

                <h1>Adicionar Jogo</h1>
    
                <div class="mb-3 row">
                    <label class="col-sm-2">Nome:</label>
                    <input type="text" class="form-control" placeholder="Nome" name="nome">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 ">Ano de lançamento:</label>
                    <input type="number" class="form-control" placeholder="Ano de lançamento" name="lancamento">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 ">Gênero:</label>
                    <input type="text" class="form-control" placeholder="Gênero" name="genero">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 ">Descrição curta:</label>
                    <input type="text" class="form-control" placeholder="Descrição curta" name="descricao_curta">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 ">Descrição completa:</label>
                    <input type="text" class="form-control" placeholder="Descrição completa" name="descricao_completa">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 ">URL da imagem:</label>
                    <input type="text" class="form-control" placeholder="URL da imagem" name="url_imagem">
                </div>
    
                <div class="d-flex align-items-end">
                    <button type="submit">Adicionar</button>
                </div>
    
            </fieldset>
        </form>
    
        <form action="" method="PUT">
            <fieldset>

                <h1>Atualizar Jogo</h1>
                <div class="mb-3 row">
                    <label class="col-sm-2">ID:</label>
                    <input type="text" class="form-control" placeholder="ID" name="id">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2">Nome:</label>
                    <input type="text" class="form-control" placeholder="Nome" name="nome">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 ">Ano de lançamento:</label>
                    <input type="number" class="form-control" placeholder="Ano de lançamento" name="lancamento">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 ">Gênero:</label>
                    <input type="text" class="form-control" placeholder="Gênero" name="genero">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 ">Descrição curta:</label>
                    <input type="text" class="form-control" placeholder="Descrição curta" name="descricao_curta">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 ">Descrição completa:</label>
                    <input type="text" class="form-control" placeholder="Descrição completa" name="descricao_completa">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 ">URL da imagem:</label>
                    <input type="text" class="form-control" placeholder="URL da imagem" name="url_imagem">
                </div>
    
                <div class="d-flex align-items-end">
                    <button type="submit">Atualizar</button>
                </div>
    
            </fieldset>
        </form>
        
    </section>

    <section class="deletion">
        <h1>Deletar jogos:</h1>
        
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>URL</td>
                    <td>Descrição</td>
                    <td></td>
                </tr>
            </thead>
       
            <tbody>
                {% for jogo in games %}
                    <tr>
                        <td>{{ jogo[0] }}</td>
                        <td>{{ jogo[1] }}</td>
                        <td>{{ jogo[7] }}</td>
                        <td>{{ jogo[4] }}</td>
                        <td><button type="button" class="btn btn-danger" data-id="{{ jogo[0] }}">-</button></td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </section>

</body>
</html>