{%extends 'base.html'%}
{%block content%}

<section class="categories">
    <h1>Todos os jogos:</h1>

    <div class="d-flex justify-content-around flex-wrap">
      {% for game in games %}
        
          <div class="game" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="{{ game[7] }}" class="card-img-top">
      
            <div class="game__body">
              <div class="d-flex justify-content-between align-items-center">
                <p>{{ game[1] }}</p>
                <button type="button" class="btn btn-success" data-id="{{ game[0] }}">+</button>
              </div>
            </div>
          </div>
        
      {% endfor %}
    </div>
</section>

{%endblock content%}