{%extends 'base.html'%}
{%block content%}

<section class="categories">
    <h1>Categorias:</h1>

    <div class="action">
        <h4>Ação</h4>
        
        <div class="d-flex justify-content-center flex-wrap">
    
            <div class="game">
                <img src="{{ url_for('static', filename='imgs/reddead.png') }}" class="card-img-top">
                
                <div class="game__body">
                  <p>Red Dead  II</p>
                </div>
            </div>
    
            <div class="game">
                <img src="{{ url_for('static', filename='imgs/callofduty.png') }}" class="card-img-top">
                
                <div class="game__body">
                  <p>Call of Duty</p>
                </div>
            </div>
    
            <div class="game">
                <img src="{{ url_for('static', filename='imgs/pokemon.png') }}" class="card-img-top">
                
                <div class="game__body">
                  <p>Pokemon</p>
                </div>
            </div>

            <div class="game">
                <img src="{{ url_for('static', filename='imgs/pubg.png') }}" class="card-img-top">
                
                <div class="game__body">
                  <p>Pubg</p>
                </div>
            </div>

            <div class="game">
              <img src="{{ url_for('static', filename='imgs/pubg.png') }}" class="card-img-top">
              
              <div class="game__body">
                <p>Pubg</p>
              </div>
            </div>

            <div class="game">
              <img src="{{ url_for('static', filename='imgs/pubg.png') }}" class="card-img-top">
              
              <div class="game__body">
                <p>Pubg</p>
              </div>
            </div>
            
            <div class="game">
              <img src="{{ url_for('static', filename='imgs/pokemon.png') }}" class="card-img-top">
              
              <div class="game__body">
                <p>Pokemon</p>
              </div>
            </div>

            <div class="game">
              <img src="{{ url_for('static', filename='imgs/pokemon.png') }}" class="card-img-top">
              
              <div class="game__body">
                <p>Pokemon</p>
              </div>
            </div>

            <div class="game">
              <img src="{{ url_for('static', filename='imgs/callofduty.png') }}" class="card-img-top">
              
              <div class="game__body">
                <p>Call of Duty</p>
              </div>
            </div>

        </div>
    </div>

    <div class="rpg">

    </div>

    <div class="fps">

    </div>

    <div class="sports">

    </div>

    <div class="strategy">

    </div>

    <div class="adventure">

    </div>

    <div class="race">

    </div>

</section>

{%endblock content%}