{%extends 'base.html'%}
{%block content%}

<section class="categories">

    <h1>Categorias:</h1>

    <div class="action">
        <h4>Ação</h4>

        <div class="d-flex justify-content-around flex-wrap">

            {% for game in games %}
                <div class="game" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="{{ game[7] }}" class="card-img-top">

                    <div class="game__body">
                    <p>{{ game[1] }}</p> <!--<br> {{ game[3] }}-->
                    </div>
                </div>
            {% endfor %}

        </div>

        <nav aria-label="Page navigation example" class="mt-5">
            <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>

    </div>

    <div class="rpg">


    </div>

    <div class="fps">

      <!-- navegação -->
    </div>

    <div class="sports">

      <!-- navegação -->
    </div>

    <div class="strategy">

      <!-- navegação -->
    </div>

    <div class="adventure">

      <!-- navegação -->
    </div>

    <div class="race">

      <!-- navegação -->
    </div>

    <!-- modal -->
    <div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

      <div class="modal-dialog">   
        <div class="modal__container">
          <div class="modal__header">

            <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="logo">
            <h1 class="modal-title fs-5 ms-5 mt-3" id="exampleModalLabel">Red Dead Redemption II</h1>

          </div>

          <div class="modal__body">

            <div class="functionality">
              <img src="{{ url_for('static', filename='imgs/reddead.png') }}">

              <select class="form-select" aria-label="Default select example">
                <option selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>

              <p>+ lista de desejo</p>
            </div>

            <div class="description">
              <p>
                Red Dead Redemption é uma epopeia no Velho Oeste, onde John Marston busca redenção. Gráficos impressionantes, mundo aberto vasto, tiroteios intensos, caça e uma narrativa envolvente.Escolhas morais moldam o destino, enquanto a trilha sonora e a vida selvagem enriquecem a imersão, criando uma experiência única e marcante.
              </p>
            </div>

          </div>

          <div class="modal__footer">

            <div class="comments">

              <div class="review">
                <div class="d-flex flex-column">
                  <img src="{{ url_for('static', filename='imgs/profileblack.png') }}">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>

                <textarea></textarea>
              </div>

            </div>

            <div class="comment">

              <div class="review">
                <div class="d-flex flex-column">
                  <img src="{{ url_for('static', filename='imgs/profileblack.png') }}">
                </div>

                <textarea></textarea>
              </div>

            </div>

            <div class="btns d-flex justify-content-end mt-4 ">
              <button type="button" class="" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="" data-bs-dismiss="modal">Enviar</button>
            </div>

          </div>
        </div>
      </div>

    </div>



    
</section>

{%endblock content%}