{%extends 'base.html'%}
{%block content%}
<section class="main-carousel">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="static/imgs/imgs_carousel/1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="static/imgs/imgs_carousel/2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="static/imgs/imgs_carousel/3.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="static/imgs/imgs_carousel/4.png" class="d-block w-100" alt="...">
          </div>
        </div>
    </div>
    
</section>

{%endblock content%}