{%extends 'base.html'%}
{%block content%}
<section class="profile">
    <h1 class="name-user">Olá, <span>{{name}}!</span></h1>

    <div class="profile__wishlist" style="height:300px; overflow:auto;">
        <h1>Lista de desejos:</h1>
        <table style="display:block; height:200px; overflow:auto;">
            <thead>
                <tr>
                    <td>Tipo</td>
                    <td>Jogo</td>
                    <td>Nome</td>
                    <td>Descrição</td>
                </tr>
            </thead>
            <tbody>
                {% for jogo in lista_de_desejos %}
                <tr>
                    <td>{{jogo.genero}}</td>
                    <td><img src="{{ jogo.url_imagem }}"></td>
                    <td>{{jogo.nome}}</td>
                    <td>{{jogo.descricao_curta}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="profile__reviews">
        <h1>Reviews:</h1>
        <form method="POST" id="reviewForm">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex flex-column">
                                <p> Jogo: </p>
                                <select name="jogo" class="form-select mt-3" aria-label="Default select example">
                                    {% for jogo in jogos %}
                                        <option value="{{jogo.id}}">{{jogo.nome}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <p> NOTA: </p>
                            <select name="nota" class="form-select mt-3" aria-label="Default select example">
                                <option selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td>
                            <textarea name="comentario" id="" cols="30"></textarea>
                        </td>
                        <td>
                            <div class="btns d-flex">
                                <button type="button" onclick="location.reload();">X</button>
                                <button type="submit">➜</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    

</section>

{%endblock content%}