{%extends 'base.html'%}
{%block content%}
<section class="profile">
    <h1 style="color: white;">Olá, {{name}}!</h1>

    <div class="profile__wishlist" style="height:600px; overflow:auto;">
        <h1>Lista de desejos:</h1>
        <table style="display:block; height:200px; overflow:auto;">
            <thead>
                <tr>
                    <td>Tipo</td>
                    <td>Jogo</td>
                    <td>Nome</td>
                    <td>Descrição</td>
                </tr>
            </thead>
            <tbody>
                {% for jogo in lista_de_desejos %}
                <tr>
                    <td>{{jogo.genero}}</td>
                    <td><img src="{{ jogo.url_imagem }}"></td>
                    <td>{{jogo.nome}}</td>
                    <td>{{jogo.descricao_curta}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="profile__reviews">

        <h1>Reviews:</h1>

        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex flex-column">
                            <img src="{{ url_for('static', filename='imgs/genshin.png') }}">

                            <select class="form-select mt-3" aria-label="Default select example">
                                <option selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <textarea id="" cols="30" rows="10"></textarea>
                    </td>
                    <td>
                        <div class="btns d-flex">
                            <button>Cancelar</button>
                            <button>Enviar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</section>

{%endblock content%}