{%extends 'base.html'%}
{%block content%}
<section class="profile">

    <div class="profile__infos">
        
        <form>
            <img src="{{ url_for('static', filename='imgs/profileblack.png') }}">
            
            <fieldset>
                <label>Nome:</label>
                <input type="text" class="form-control">

                <label>Senha:</label>
                <input type="text" class="form-control">
            </fieldset>
        </form>
        
        <div class="d-flex justify-content-end pb-4">
            <button>Cancelar</button>
            <button>Salvar</button>
        </div>

    </div>

    <div class="profile__wishlist">
        
        <h1>Lista de desejos</h1>
        
        <table>
            <thead>
                <tr>
                    <td>Tipo</td>
                    <td>Jogo</td>
                    <td>Nome</td>
                    <td>Descrição</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Aventura - RPG</td>
                    <td><img src="{{ url_for('static', filename='imgs/genshin.png') }}"></td>
                    <td>Genshin Impact</td>
                    <td>Trata-se de um novo RPG de ação e mundo aberto, no qual a exploração é livre e oferece um mapa enorme e várias missões e desafios ao jogador.</td>
                </tr>
            </tbody>
        </table>

    </div>

</section>

{%endblock content%}