{%extends 'base.html'%}
{%block content%}

<section class="ranking">
    <h1>Ranqueamento:</h1>

    <table>
        <thead>
          <tr>
            <th>Top</th>
            <th>Jogo</th>
            <th>Nome</th>
            <th>Descrição</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>#1</th>
            <td><img src="{{ url_for('static', filename='imgs/reddead.png') }}"></td>
            <td>Red Dead Redemption 2</td>  
            <td>O jogo se passa em 1899, no final da era do Velho Oeste, e segue a história do fora-da-lei Arthur Morgan, membro da gangue Van der Linde</td>
          </tr>
        </tbody>
    </table>
</section>

{%endblock content%}