@import '../abstract/variables';

@mixin header() {
    background-color: $bg-gamerank;

    nav {
        font-family: $text-default; 
        padding: 1rem;
        
        a {
            color: white;
            margin-left: 3.3rem;
            font-size: .8rem;
            margin-top: -0.3rem;
        }

        a.active {
            padding-bottom: 0.5rem;
            border-bottom: 4px solid $cyan-gamerank;
        }

        a.active-profile {
            color: $cyan-gamerank;
        }
    }
}