// @import '../../abstract/variables';
// @import '../../components/inputs';

@mixin input-default(){
    width: 75%;

    font-family: "Poppins";
    
    padding: 0.4rem 0.4rem 0.4rem 1.4rem;
    margin-left: 0.6rem;

    &::placeholder {
        color: gray;
    }
}