// @import '../../components/inputs.scss';
@import '../abstract/variables';

@mixin btn-gradient() {
    display: block;

    width: 35%;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;

    font-family: "Poppins";
    text-align: center;
    text-decoration: none;

    color: white;
    background: linear-gradient(to right, #2BF6FA, #AB61F5, #580475);
    
    border: none;
    border-radius: 3%;
    transition: 0.5s;
}         

// sucess

// cancel