@import '../abstract/variables';
@import '../components/inputs';

.administrators {
    
    
    .forms {
        background-color: #121212;
        

        form:nth-child(1) {

        }

        form:nth-child(2) {

        }
    }

    .deletion {
        
    }
}