@import '../abstract/variables';
@import '../components/inputs';

.categories {
    height: 100%;
    padding: 1rem;

    h1 {
        font-family: $text-default;
        font-size: 1.5rem;
        
        color: white;
    }
    
    h4 {
        font-family: "Poppins";
        color: white;

        margin-top: 2.5rem;
        margin-left: 2.6rem;
        margin-bottom: 1.5rem;
    }

    .game {
        height: 180px;
        width: 130px;
        margin-right: 2rem;

        img {
            height: 180px;
            width: 130px;

            border-radius: 10% 10% 0 0;
        }

        &__body {
            width: 100%;

            p {
                font-size: 1rem;
                font-family: "Poppins";
                text-align: center;

                color: white;

                margin-top: .5rem;
            }
        }
    }
}