@import '../abstract/variables';
@import '../components/inputs';

.categories {
    height: 100%;
    padding: 1rem;

    h1 {
        font-family: $text-default;
        font-size: 1.5rem;
        
        color: white;
    }
    
    h4 {
        font-family: "Poppins";
        color: white;

        margin-top: 2.5rem;
        margin-left: 2.6rem;
        margin-bottom: 1.5rem;
    }

    .game {
        height: 180px;
        width: 130px;

        margin-right: 2rem;
        margin-top: 4rem;
        cursor: pointer;

        img {
            height: 130px;
            width: 130px;
        }
        
        &__body {
            width: 100%;

            p {
                font-size: .8rem;
                font-family: "Poppins";
                text-align: center;

                color: white;

                margin-top: .5rem;
            }

            button {
                height: 23px;
                width: 30px;
                font-size: 1rem;
                padding: 0;
            }
        }
    }
}

.modal {

    &__container {
        display: flex;
        flex-direction: column;

        width: 100%;
        position: relative;

        background-color: $bg-gamerank;
        background-clip: padding-box;
        border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
        border-radius: var(--bs-modal-border-radius);
        color: var(--bs-modal-color);

        outline: 0;
        pointer-events: auto;

    }

    &__header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding-left: 1rem;
    }

    &__body {
        display: flex;
        position: relative;
        padding: var(--bs-modal-padding);

        .functionality {
            width: 15%;

            img {
                height: 8rem;
                width: 8rem;

                margin-bottom: 1rem;
            }

            select {
                font-family: $text-default;
                color: gray;
                width: 77% !important;
            }


            p {
                margin-top: 1rem;
                font-family: $title-gamerank;
                color: $cyan-gamerank;
                font-size: .47rem;
                cursor: pointer;
            }
        }

        .description {
            overflow-y: auto;
            height: 12rem;
            width: 80%;

            border: 1px solid white;
            padding: 1rem;

            p {
                font-family: $text-default;
                font-size: 1.2rem;
                color: white;
            }
        }
    }

    &__footer {
        padding: 1rem;

        .comments {
            height: 17rem;
            overflow-y: auto;
            width: 100%;

            border: 1px solid white;
            padding: 1rem;
            
            .review {
                display: flex;    
                margin-bottom: 2rem;

                img {
                    height: 50px;
                    width: 100px;
                    margin-bottom: .5rem;
                }

                select {
                    height: 33px;
                }

                textarea {
                    min-height: 3rem;
                    width: 100%;
                    resize: none;
                    margin-left: .5rem;
                    font-family: $text-default;
                    outline: none;
                    padding-left: .5rem;
                }
            }      
        }

        .comment {

            .review {
                display: flex;   
                margin-top: 2rem; 

                img {
                    height: 50px;
                    width: 80px;
                    margin-bottom: .5rem;
                }

                select {
                    height: 33px;
                }

                textarea {
                    min-height: 3rem;
                    width: 100%;
                    resize: none;
                    margin-left: .5rem;
                    font-family: $text-default;
                    outline: none;
                    padding-left: .5rem;
                }
            }  
        }

        .btns {

            button:nth-child(1) {
                display: block;
                width: 10%;
                margin-right: 1.5rem;
                padding: .2rem .5rem .2rem .5rem;
                color: white;
                background-color: #FF0000;
                font-family: "Poppins";
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                border: none;
                border-radius: 0.3rem;
                outline: none;
            }
    
            button:nth-child(2) {
                display: block;
                width: 10%;
                color: white;
                background-color: #00FF19;
                margin-right: 2.5rem;
                font-family: "Poppins";
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                border: none;
                border-radius: 0.3rem;
                outline: none;
            }
        }
    }
}