@import '../abstract/variables';
@import '../components/inputs';

.profile {
    height: 100%;
    padding: 1rem;

    &__infos {
        height: auto;
        width: 100%;
        
        background-color: #1E1E1E;

        form {
            display: flex;
            margin-bottom: 5.5rem;
            
            img {
                height: 10rem;
                width: 14rem;

                margin-left: 1rem;
            }

            fieldset {
                width: 50%;
                margin-left: 3rem;

                display: flex;
                flex-direction: column;

                label {
                    width: 100%;
    
                    font-family: $text-default;
                    font-size: 1.3rem;
    
                    color: white;
    
                    margin-bottom: 1.4rem;
                    margin-top: 1.8rem;
                    margin-left: .6rem;
                }

                input {
                    @include input-default();
                }
            }
        }
 
        button:nth-child(1) {
            display: block;

            width: 10%;
            padding: 0.6rem 0.6rem 0.6rem 0.6rem;
            margin-right: 1.5rem;

            color: white;
            background-color: #FF0000;

            font-family: "Poppins";
            font-weight: bold;

            text-align: center;
            text-decoration: none;

            border: none;
            border-radius: .3rem;
            outline: none;
        }

        button:nth-child(2) {   
            display: block;

            width: 10%;
            padding: 0.6rem 0.6rem 0.6rem 0.6rem;

            color: white;
            background-color: #00FF19;
            margin-right: 2.5rem;

            font-family: "Poppins";
            font-weight: bold;

            text-align: center;
            text-decoration: none;

            border: none;
            border-radius: .3rem;
            outline: none;
        }
    }

    &__wishlist {
        margin-top: 2.3rem;

        h1 {
            font-family: $text-default;
            font-size: 1.5rem;
            
            color: white;
        }
    
        table {
            width: 100%;
            margin-top: 2rem;
    
            font-family: $text-default;
            font-size: .8rem;
            color: white;
    
            thead {
    
                td {
                    padding-left: 1rem;
                    padding-bottom: 1.4rem;
                }
            }
    
            tbody {     
    
                tr {
                    height: 5rem;
                    background-color: #1E1E1E;
                    
                    td:nth-child(1) {
                        width: 10%;
                        padding-left: .5rem;
                        padding-top: -1.5rem;
                    }
    
                    td:nth-child(2) {
                        width: 10%;
                        padding: .5rem .5rem .5rem .5rem;
    
                        img{
                            height: 55px;
                            margin-top: 0.3rem;
                            margin-bottom: -1.5rem;
                        }
                    }
    
                    td:nth-child(3) {
                        width: 30%;
                        padding: .5rem .5rem .5rem .5rem;
                    }
    
                    td:nth-child(4) {
                        width: 50%;
                        padding: .5rem .5rem .5rem .5rem;
                    }
                }
            }
        }
    }

    &__reviews {
        margin-top: 2.3rem;

        h1 {
            font-family: $text-default;
            font-size: 1.5rem;
            

            color: white;
        }

        table {
            margin-top: 2rem;

            tbody {

                tr {
                    height: 97px;
                    width: 100%;
                    background-color: #1E1E1E;
                    margin-top: 3rem;
                    
                    td:nth-child(1) {
                        width: 20%;
                        padding-left: .5rem;
    
                        p {
                            color: white;
                            font-family: $text-default;
                        }
    
                        select {
                            height: 38px;
                            width: 200px;                        
                            text-align: center;
                        }
                    }

                    td:nth-child(2) {
                        width: 20%;
                        padding-left: .5rem;
    
                        p {
                            color: white;
                            font-family: $text-default;
                        }

                        img {
                            height: 56px;
                            width: 56px;
                        }
    
                        select {
                            height: 39px;
                            width: 200px;
                            text-align: center;
                        }
                    }
                    
                    td:nth-child(3) {
                        display: flex;
                        align-items: center;
                        width: 93%;
    
                        textarea {
                            min-height: 5rem;
                            width: 100%;
                            resize: none;
    
                            font-family: $text-default;
                            outline: none;
                            padding-left: .5rem;
                            background-color: transparent;
                            color: white;
                        }
                    }
    
                    td:nth-child(4) {
                        width: 10%;
    
                        button:nth-child(1) {
                            display: block;
                
                            width: 38%;
                            padding: 0.6rem 0.6rem 0.6rem 0.6rem;
                            margin-right: 1.5rem;
                
                            color: white;
                            background-color: #FF0000;
                
                            font-family: "Poppins";
                            font-weight: bold;
                
                            text-align: center;
                            text-decoration: none;
                
                            border: none;
                            border-radius: .3rem;
                            outline: none;
                        }
                
                        button:nth-child(2) {   
                            display: block;
                
                            width: 35%;
                            padding: 0.6rem 0.6rem 0.6rem 0.6rem;
                
                            color: white;
                            background-color: #00FF19;
                            margin-right: 2.5rem;
                
                            font-family: "Poppins";
                            font-weight: bold;
                
                            text-align: center;
                            text-decoration: none;
                
                            border: none;
                            border-radius: .3rem;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}