@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  overflow-y: auto;
}

body {
  line-height: 1;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a:hover, button:hover {
  cursor: pointer;
}

.login {
  background-color: #121212;
}
.login__form {
  display: flex;
  align-items: center;
  height: 100vh; /* ocupa a página inteira*/
}
.login__form fieldset {
  width: 50%;
  margin-bottom: 4rem;
  padding-left: 6rem;
}
.login__form fieldset h1 {
  font-family: "Press Start 2P";
  font-size: 2.8rem;
  color: #2BF6FA;
  margin-bottom: 0.7rem;
}
.login__form fieldset label {
  width: 100%;
  font-family: "Poppins";
  font-size: 1.3rem;
  color: white;
  margin-bottom: 1.4rem;
  margin-top: 1.5rem;
}
.login__form fieldset input {
  width: 75%;
  font-family: "Poppins";
  padding: 0.4rem 0.4rem 0.4rem 1.4rem;
  margin-left: 0.6rem;
}
.login__form fieldset input::-moz-placeholder {
  color: gray;
}
.login__form fieldset input::placeholder {
  color: gray;
}
.login__form fieldset button {
  margin-top: 4rem;
  display: block;
  width: 35%;
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  font-family: "Poppins";
  text-align: center;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #2BF6FA, #AB61F5, #580475);
  border: none;
  border-radius: 3%;
  transition: 0.5s;
}
.login__form fieldset a {
  font-family: "Press Start 2P";
  color: #2BF6FA;
  margin-left: 1.5rem;
}

.register {
  background-color: #121212;
}
.register__form {
  display: flex;
  align-items: center;
  height: 100vh; /* ocupa a página inteira*/
}
.register__form fieldset {
  width: 50%;
  margin-bottom: 4rem;
  padding-left: 6rem;
}
.register__form fieldset h1 {
  font-family: "Press Start 2P";
  font-size: 2.8rem;
  color: #2BF6FA;
  margin-bottom: 0.7rem;
}
.register__form fieldset label {
  width: 100%;
  font-family: "Poppins";
  font-size: 1.3rem;
  color: white;
  margin-bottom: 1.4rem;
  margin-top: 1.5rem;
}
.register__form fieldset input {
  width: 75%;
  font-family: "Poppins";
  padding: 0.4rem 0.4rem 0.4rem 1.4rem;
  margin-left: 0.6rem;
}
.register__form fieldset input::-moz-placeholder {
  color: gray;
}
.register__form fieldset input::placeholder {
  color: gray;
}
.register__form fieldset button {
  margin-top: 4rem;
  display: block;
  width: 35%;
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  font-family: "Poppins";
  text-align: center;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #2BF6FA, #AB61F5, #580475);
  border: none;
  border-radius: 3%;
  transition: 0.5s;
}
.register__form fieldset a {
  font-family: "Press Start 2P";
  color: #2BF6FA;
  margin-left: 1.5rem;
}/*# sourceMappingURL=style.css.map */

.login__form fieldset button,
.register__form fieldset button {
  margin-top: 4rem;
  display: block;
  width: 35%;
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  font-family: "Poppins";
  text-align: center;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #2BF6FA, #AB61F5, #580475);
  border: none;
  border-radius: 3%;
  transition: 0.5s;

  &:hover {
    transform: scale(1.05); /* Adiciona um pequeno zoom ao passar o mouse */
  }
}

@media (max-width: 767px) {
  body {
      font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
  }

  /* Altera o texto do botão para "OK" apenas em telas menores */
  button {
      font-size: 0; /* Esconde o texto original */
      background-color: #007bff; /* Altera a cor de fundo para azul (cor padrão do botão de login no Bootstrap) */
  }

  button::before {
      content: "OK"; /* Adiciona o texto "OK" ao botão */
      font-size: 16px; /* Define o tamanho da fonte para o texto "OK" */
      color: white; /* Define a cor do texto como branco */
  }
}