
@import './abstract/reset';
@import './abstract/variables';


@import './pages/register/login';
@import './pages/register/register';

@import './pages/homepage';
@import './pages/ranking';
@import './pages/profile';
@import './pages/categories';
@import './pages/adminpage';