<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icon-gamerank.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title>Gamerank</title>
</head>
<body class="home">
    <header>
        
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="logo">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li>
                            <a class="{{is_active('home')}}" aria-current="page" href="{{url_for('home')}}">Tela inicial</a>
                        </li>
                        <li>
                            <a class="{{is_active('categories')}}" href="{{url_for('categories')}}">Categorias</a>
                        </li>
                        <li>
                            <a class="{{is_active('ranking')}}" href="{{url_for('ranking')}}">Ranqueamento</a>
                        </li>
                    </ul>

                    <a class="{{is_active('profile')}} icon-profile" href="{{url_for('profile')}}"><i style="padding: 0 8px 0 0; font-size: 16px;" class="bi bi-person-fill"></i>Perfil</a>
                </div>
            </div>
        </nav>

    </header>
    
    <main>
        {% block content %}


        {% endblock content %}
    </main>

    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-iOaCbLjFv7LvpcO6R7Y5WIvZqfSNrOSNc0q9ZoT5Ff3iXw5oLsqYwOp8JODKSoaB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <script src="/static/js/index.js"></script>  
    </footer>
</body>
</html>